body {
	background:#fff;
}
a:hover, a:active, li a.active {
  outline: none;
  color: #8E1C1C;
}
#page-wrapper,
#outer-wrapper,
#footer,
#footer-moulding {
    background: none;
}
#footer {
	margin-top:20px;
}
#footer li a {
    color: #660000;
		text-shadow:none;
}
#footer-inner {
    background: none;
}
#footer-nav li li a,
#footer-nav li li a:hover, #footer-nav li li a:focus {
    color: #666666;
}
#header .title {
    background:none;
}
#footer-logo-subscribe {
	background:#fff;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
}
#footer-logo-subscribe-bottom {
	background:none;
}
#header .site-name a,
#footer .site-name a {
	display:none;
}
#header .logo {
    margin: 14px 0 0;
}
#footer-utility li {
    float: left;
    margin: 0 10px 10px 0;
    text-transform:none;
}
#footer-utility li a {
	font-size:10px;
	color:#555;
}
#wrap-inner, .front #wrap-inner {
    background: #FAFAFA;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
}
.front #block-ideation-ideation-submit-idea {
	background:none;
	border:none;
}
.book-block-menu ul.menu li {
	margin:0 0 0 1.5em;
}
html[xmlns] .clearfix {
    display: block;
}
#right-rail {
    margin: 4px 0 0 22px;
}
#block-follow-site {
	padding-bottom:0;
}
ul#user-menu {
	text-align:right;
}
ul#user-menu li {
	font-size:12px;
}
ul#user-menu a {
	color:#bbb;
}

/* Documentation button */
#block-nodeblock-133 {
	background:none;
}
#node-133 p {
	margin:0;
}
a#documentation-button {
  background: #ab0634; /* Old browsers */
	background: -moz-linear-gradient(top, #ab0634 0%, #7b0022 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ab0634), color-stop(100%,#7b0022)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ab0634 0%,#7b0022 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ab0634 0%,#7b0022 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ab0634 0%,#7b0022 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab0634', endColorstr='#7b0022',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ab0634 0%,#7b0022 100%); /* W3C */
  border-radius: 17px 17px 17px 17px;
  box-shadow: 0 1px 1px #666666;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: 'LeagueGothicRegular';
  font-size: 35px;
  font-weight: normal;
  padding: 17px 0;
  text-align: center;
  text-transform: uppercase;
}
span#documentation-icon {
	background:url(/sites/all/themes/rubik/images/icons.png) no-repeat -180px -120px;
	height:30px;
	width:30px;
	display:inline-block;
}

/*
 * Ideas we're watching homepage block
 */
.view-display-id-block_ideas_watch .views-row,
#right-rail .view-ideas-watch .views-row {
	background:url("/sites/all/modules/ideation/images/icon-idea.gif") no-repeat scroll left top transparent;
	padding:0 0 0 50px;
	margin:15px;
}
#right-rail .view-ideas-watch a.username,
#right-rail #block-views-4fc346cc5920b0b8027cf39c18f31cb1 a.username,
#right-rail .view-ideas-watch .views-field-created,
#right-rail #block-views-4fc346cc5920b0b8027cf39c18f31cb1 .views-field-created {
	float:none;
	font-size:11px;
	margin-left:0;
}
.view-display-id-block_ideas_watch .views-field-title a {
	color: #660000;
  font-family: Constantia,Georgia,Times New Roman,serif;
	font-size: 13px;
  font-weight: bolder;
  letter-spacing: 0.03em;
  margin: 0 0 5px;
	display:block;
}
.view-display-id-block_ideas_watch .views-field-name,
.view-display-id-block_ideas_watch .views-field-created {
	color:#999;
	font-size:11px;
}
.view-display-id-block_ideas_watch .views-field-name a {
	font-weight:normal;
	color:#999;
}

/* Place submit an idea button below callout box */
#block-ideation-ideation-box .content a,
#block-ideation-ideation-box .content a:hover {
	left:auto;
	top:auto;
	width:245px;
	margin:30px 0;
	background: #ab0634; /* Old browsers */
  background: -moz-linear-gradient(top, #ab0634 0%, #7b0022 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ab0634), color-stop(100%,#7b0022)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ab0634 0%,#7b0022 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ab0634 0%,#7b0022 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ab0634 0%,#7b0022 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab0634', endColorstr='#7b0022',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #ab0634 0%,#7b0022 100%); /* W3C */
	border:none;	
}



.section-col .section-content .entry h4 a, .section-col .section-content .entry h4 a:link, .section-col .section-content .entry h4 a:visited {
	color:#660000;
}
