body {
	background:#fff;
}
a:hover, a:active, li a.active {
  outline: none;
  color: #8E1C1C;
}
#page-wrapper,
#outer-wrapper,
#footer,
#footer-moulding {
    background: none;
}
#footer {
	margin-top:20px;
}
#footer li a {
    color: #660000;
		text-shadow:none;
}
#footer-inner {
    background: none;
}
#footer-nav li li a,
#footer-nav li li a:hover, #footer-nav li li a:focus {
    color: #666666;
}
#header .title {
    background:none;
}
#footer-logo-subscribe {
	background:#fff;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
}
#footer-logo-subscribe-bottom {
	background:none;
}
#header .site-name a,
#footer .site-name a {
	display:none;
}
#header .logo {
    margin: 14px 0 0;
}
#footer-utility li {
    float: left;
    margin: 0 10px 10px 0;
    text-transform:none;
}
#footer-utility li a {
	font-size:10px;
	color:#555;
}
#wrap-inner, .front #wrap-inner {
    background: #FAFAFA;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
}
.front #block-ideation-ideation-submit-idea {
	background:none;
	border:none;
}
.book-block-menu ul.menu li {
	margin:0 0 0 1.5em;
}
html[xmlns] .clearfix {
    display: block;
}
#right-rail {
    margin: 4px 0 0 22px;
}

/*
 * Ideas we're watching homepage block
 */
.view-display-id-block_ideas_watch .views-row {
	background:url("/sites/all/modules/ideation/images/icon-idea.gif") no-repeat scroll left top transparent;
	padding-left:50px;
	margin:15px;
}
.view-display-id-block_ideas_watch .views-field-title a {
	color: #00436F;
  font-family: Constantia,Georgia,Times New Roman,serif;
	font-size: 13px;
  font-weight: bolder;
  letter-spacing: 0.03em;
  margin: 0 0 5px;
	display:block;
}
.view-display-id-block_ideas_watch .views-field-name,
.view-display-id-block_ideas_watch .views-field-created {
	color:#999;
	font-size:11px;
}
.view-display-id-block_ideas_watch .views-field-name a {
	font-weight:normal;
	color:#999;
}

/* Place sunmit an idea button below callout box */
#block-ideation-ideation-box .content a {
	left:auto;
	top:auto;
	width:245px;
	margin:30px 0;	
}
